@page "/counter"
@inject ICountService CountService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>1. Custom UI Coponent : Parent - Child</p>
@*Custom UI Coponent : Parent - Child *@
<MyNotiCount Count="@currentCount" ResetCount="ResetCount"></MyNotiCount>

<p>@resetMsg</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string resetMsg = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
        CountService.IncrementCount();
    }

    private void ResetCount()
    {
        currentCount = 0;
        resetMsg = "Counter has been reset.";
        CountService.ResetCount();
    }
}
