@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>2. Custom UI Coponent : Component - Component</p>
            @*Custom UI Coponent : Component - Component *@
            <MyNotiCount2 />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
